* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/bg.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}

nav {
  position: relative;
  background: #fff;
  color: #333;
  border-radius: 10px;
  border: 5px solid #333;
  padding: 50px 100px;
  font-family: "lato", sans-serif;
}
