body {
  background: url(../img/bg.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  color: #333;
  border-radius: 10px;
  border: 5px solid #333;
  padding: 50px 100px;
  font-family: "lato", sans-serif;
}
